// Reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Typography
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
html {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #343434;
}

.container {
  margin-left: calc((100% - 1040px) / 2);
  margin-right: calc((100% - 1040px) / 2);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 69px);
}

.top-center {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 69px);
  padding-top: 61px;
  box-sizing: border-box;
}

.modal {
  box-sizing: border-box;
  padding: 40px 30px;
  background-color: #fefefa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button-primary {
  background-color: #CF155C;
  border-radius: 6px;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  font-size: 17px;

  &:hover {
    background-color: #aa144e;
  }
}

.button-secondary {
  background-color: #005E72;
  border-radius: 6px;
  color: #fff;
  padding: 5px 15px;
  cursor: pointer;
  border: none;
  font-size: 17px;

  &:hover {
    background-color: #054c5c;
  }
}


.top-padding {
  padding-top: 61px;
}