.list-header {
  margin-bottom: 83px;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

    .left {
      display: flex;
      align-items: center;

      .title-wrapper {
        display: flex;
      }

      .title {
        color: #005e72;
        font-size: 25px;
        font-weight: 700;
        margin-right: 15px;

        &.hide {
          display: none;
        }
      }

      .title-editor {
        color: #005e72;
        font-size: 23px;
        font-weight: 700;
        margin-right: 15px;
        border: 1px solid #005e72;
        transform: translateY(-3px);

        &.hide {
          display: none;
        }
      }

      .actions {
        transform: translateY(3px);
        opacity: 0.2;
        transition: opacity 0.2s;

        &:hover {
          opacity: 1;
        }

        button {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
      }
    }
  }

  .progress {
    .count {
      display: block;
      width: 100%;
      text-align: center;
      color: #005e72;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .progress-wrapper {
      position: relative;
      background: rgba(254, 252, 245, 0.45);
      border: 1px solid #005e72;
      box-sizing: border-box;
      border-radius: 8px;
      height: 30px;
      width: 100%;
      overflow: hidden;
    }

    .progress-marker {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: #005e72;
      height: 30px;
      transition: .3s ease-in;

      &.complete {
        background-color: #32a545;
      }
    }
  }
}
