.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #005e72;
    color: #fff;
    font-weight: 700;
    box-sizing: border-box;
}