.achievements-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
  row-gap: 36px;
}

.achievement-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fefefa;
  border: 1px solid #005e72;
  box-sizing: border-box;
  width: 232px;
  padding: 40px 14px 14px;

  .actions {
    position: absolute;
    top: 6px;
    right: 6px;
    opacity: 0;
    transition: opacity 0.2s;

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }
  }

  &:hover .actions {
    opacity: 1;
    transition: opacity 0.2s;
  }

  .icon {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #005e72;
    margin-bottom: 15px;
  }

  .name {
    color: #005e72;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 7px;
    text-align: center;
  }

  .description {
    font-size: 16px;
    font-weight: 600;
    min-height: 70px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 1.2;
    color: #005e72;
  }

  .check-button {
    transition: opacity 0.2s;
    opacity: 0;
  }

  &:hover .check-button {
    transition: opacity 0.2s;
    opacity: 1;
  }
}

.achievement-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;

  .achievement-modal {
    padding: 37px 33px 47px;
    box-sizing: border-box;
    background-color: #fefefa;
    width: 100%;
    max-width: 485px;
    border: 1px solid #005e72;
  }

  form {
    display: flex;
    flex-direction: column;

    .label {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .input {
      background: #ffffff;
      border: 1px solid #005e72;
      box-sizing: border-box;
      border-radius: 6px;
      height: 41px;
      padding: 0 10px;
      margin-bottom: 15px;

      &.textarea {
          height: 100px;
          padding: 10px;
      }
    }

    .buttons {
        align-self: flex-end;
    }

    .button {
      margin-right: 15px;
    }
  }
}
